alembic==1.13.3
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
async-timeout==5.0.1
asyncpg==0.29.0
bcrypt==4.0.1
brotli==1.2.0
cffi==2.1.1
click==8.4.2
cryptography==50.0.0
cssselect2==0.9.0
dnspython==2.8.0
email_validator==2.2.0
et_xmlfile==2.0.0
fastapi==0.141.1
fonttools==4.63.0
greenlet==3.5.5
h11==0.16.0
httptools==0.8.0
idna==3.19
Jinja2==3.1.6
lxml==6.1.2
Mako==1.4.1
MarkupSafe==3.0.3
openpyxl==3.1.5
orjson==3.11.6
packaging==26.3
pillow==12.3.0
pycparser==3.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydyf==0.11.0
PyJWT==2.13.0
pyphen==0.18.1
python-docx==1.1.2
python-dotenv==1.2.3
python-multipart==0.0.31
PyYAML==6.0.3
redis==5.2.1
SQLAlchemy==2.0.35
starlette==1.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.32.0
uvloop==0.22.1
watchfiles==1.2.0
weasyprint==69.0
webencodings==0.6.1
websockets==17.0.1
zopfli==0.4.3
